---
import Layout from "../layouts/Layout.astro"
import Footer from "../components/Footer.astro"
import AboutMe from "../components/AboutMe.astro"
import CodeIcon from "../components/icons/Code.astro"
import Projects from "../components/Projects.astro"
import SectionContainer from "../components/SectionContainer.astro"
import Hero from "../components/Hero.astro"
---

<Layout
  title="Porfolio de Marcelo Busignani - Desarrollador Web Frontend y estudiante de Ingenieria en Sistemas"
  description="Contrata a Marcelo Busignani para crear tu aplicación web. Desarrollador Frontend. Especializado en crear aplicaciones únicas."
>
  <main class="px-4">
    <SectionContainer id="home" class="flex justify-center py-16 md:py-36">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>
    <div class="space-y-24">

    <SectionContainer id="projects">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
    <SectionContainer id="about-me">
      <AboutMe />
    </SectionContainer>
  </div>
  </main>
  <Footer />
</Layout>