---
const currentYear = new Date().getFullYear()
import { getI18N } from "../i18n/"
const { currentLocale } = Astro
const i18n = getI18N({currentLocale})

---

<footer
  class="rounded-lg shadow bg-black/5 dark:bg-white/10 dark:shadow-white/20 backdrop-blur-lg w-full mx-auto container lg:max-w-6xl md:max-w-2xl mb-10 flex justify-cente mt-16 px-5"
>
  <div
    class="rounded-lg w-full max-w-screen-xl mx-auto md:flex md:items-center md:justify-between py-4 px-4 md:px-0"
  >
    <span class="text-sm sm:text-center text-zinc-800/90 dark:text-zinc-200/90"
      >© {currentYear}
      <a href="https://midu.dev/" class="hover:underline">Busignani.</a>
      {i18n.FOOTER.RIGHTS}
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium dark:text-white/90 sm:mt-0"
    >
      <li>
        <a id="contact" href="mailto:marcebusignani@gmail.com" class="hover:underline">{i18n.FOOTER.CONTACT_FOOTER}</a>
      </li>
    </ul>
  </div>
</footer>